# Token bot dari https://discord.com/developers/applications
DISCORD_TOKEN=

# Kosongkan = pantau semua channel. Isi = hanya channel ini (pisah koma).
CHANNEL_IDS=

# Tabel transactions ada di database 'postgres' (bukan 'brain').
PGHOST=127.0.0.1
PGPORT=5435
PGUSER=aidiscord
PGPASSWORD=Johndavin290705
PGDATABASE=postgres
